@font-face {
    font-family: Clairseach;
    src: url(../fonts/Clairseach-Black.otf) format('opentype');
    font-weight: bolder;
}

@font-face {
    font-family: Clairseach;
    src: url(../fonts/Clairseach-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: Clairseach;
    src: url(../fonts/Clairseach-Regular.otf) format('opentype');
    font-weight: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Clairseach;
}

:root {
    --change-color: #009982;
    --guess-color: #ABB7B7;
    --win-color: #D2DB5C;
    --answer-color: #FF5933;
    --play-next-color: #00605C;
    --splash-screen-color: #f5e8bb;
}

a {
    text-decoration: none;
}

body {
    background-color: white;
    margin: auto;
    padding: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    height: 100dvh;
    width: 100%;
}

html {
    font-size: clamp(0.4rem, 2.65vh, 2.5em);
}

@media screen and (max-width: 600px) {
    html {
        font-size: clamp(0.4rem, min(4.75vw, 2.65vh), 2.5em);
    }
}

.center-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100dvh;
}

.no-display {
    display: none;
    visibility: collapse;
}

.white {
    background-color: white;
}

.off-white {
    background-color: var(--splash-screen-color);
}

.gap {
    margin-top: var(--amount);
}

.gap.under {
    margin-bottom: var(--amount);
}

.stats-column {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 19.0em;
}

.box.buttons {
    width: 17.5em;
}

.text-box-info {
    width: 31.25em;
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: .65em;
    line-height: 1.4em;
}

.text-box-info.heading {
    width: 29em;
    font-weight: bolder;
    font-size: 0.7em;
}

.text-box-stats {
    width: 22em;
    display: flex;
    justify-content: left;
    font-size: .8em;
}

.text-box-stats.heading {
    width: 20em;
    font-weight: bolder;
    font-size: .9em;
}

.text-box-welcome {
    width: 18em;
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-bottom: -2.35em;
}

.text-box-welcome.long {
    margin-bottom: 0em;
    width: 18em;
}

.box.left {
    justify-content: left;
}

.box.left.stats {
    width: 18.5em;
    margin-left: 0em;
    font-size: .8em;
}

.box-stats-week {
    display: flex;
    justify-content: left;
    width: 21.5em;
    margin-left: 0em;
    font-size: .7em;
}

.box.right {
    justify-content: right;
}

.shake {
    animation: shake 250ms ease-in-out;
}

.tile.dance {
    animation: dance 500ms ease-in-out;
}

.tile.flip {
    transform: rotateX(90deg);
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-7.5%);
    }

    70% {
        transform: translateX(7.5%);
    }

    90% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes dance {
    20% {
        transform: translateY(-50%);
    }

    40% {
        transform: translateY(5%);
    }

    60% {
        transform: translateY(-25%);
    }

    80% {
        transform: translateY(2.5%);
    }

    90% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}

.alert-container {
    position: fixed;
    top: 9vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-container.stats {
    top: clamp(1em, 60vh, 30em);
}

.alert {
    border: none;
    pointer-events: none;
    background-color: var(--win-color);
    padding: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .55em;
}

.alert.win {
    background-color: var(--win-color);
}

.alert.loss {
    background-color: var(--answer-color);
}

.alert:last-child {
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}

.welcome-header {
    width: 10em;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hexagon {
    grid-column: span 2;
    grid-row: span 2;
    height: 4em;
    /* adjust to control the size  */
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
    background: #e6e6e6;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space {
    grid-column: span 1;
    grid-row: span 2;
}

.hexagon-grid {
    display: grid;
    grid-template-columns: repeat(6, 1.85em);
    /* 3 columns */
    grid-template-rows: repeat(6, 1.6em);
    /* 3 rows */
    gap: 0em;
    /* adjust the gap between hexagons for padding */
    justify-items: center;
    align-items: center;
    margin-bottom: 1em;
}

.hex-text{
    padding-top: .4em;
}

.hexagon.yellow {
    background: #e6c655;
}

.hexagon.odd {
    transform: translateX(2em);
    /* Shift every odd hexagon to the right */
}

.button-box-game {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dropdown-parent{
    visibility: hidden;
}

.enabled {
    visibility: inherit;
}

.dropdown {
    position: absolute;
    width: 26em;
    background: white;
    border: grey solid .15em;
    height: 3em;
    border-radius: 1.5em;
    align-items: start;
    display: flex;
    justify-content: left;
    padding-left: 1em;
    font-size: 0.7em;
    padding-top: 1em;
}

.dropdown.down {
    height: 43em;
    background-color: white;
    z-index: 1;
}

.dropdown-arrow {
    position: absolute;
    width: 26em;
    align-items: center;
    display: flex;
    justify-content: right;
    padding-left: 1em;
    font-size: 0.7em;
    padding-top: .2em;
    padding-right: 1.2em;
    z-index: 1;
}

.dropdown-arrow.up {
    z-index: 2;
}

.dropdown-text {
    position: absolute;
    width: 24em;
    background: none;
    height: 40em;
    border-radius: 1.5em;
    align-items: start;
    display: flex;
    justify-content: left;
    padding-left: 1.1em;
    margin-right: 2em;
    font-size: 0.7em;
    padding-top: 1.4em;
    z-index: 1;
    line-height: 1.8em;
}

.rankings-box {
    position: absolute;
    width: 26em;
    border-radius: .5em;
    height: 4em;
    align-items: center;
    display: flex;
    justify-content: left;
    padding-left: 1em;
    font-size: 0.7em;
    padding-bottom: .6em;
    cursor: pointer;
    font-weight: bold;
}

.rankings-box-down {
    position: absolute;
    width: 26em;
    align-items: center;
    display: flex;
    justify-content: left;
    padding-left: 1em;
    font-size: 0.7em;
    padding-bottom: .6em;
    cursor: pointer;
    font-weight: bold;
    border: dotted;
    height: 43em;
    background-color: white;
    z-index: 2;
}

.rankings-box-text {
    position: absolute;
    width: 30.5em;
    height: 5em;
    align-items: center;
    display: flex;
    justify-content: left;
    padding-top: 2.4em;
    padding-left: 1.2em;
    font-size: 0.6em;
}

.rankings-box-dot-grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(9, 1em);
    gap: 0.1em;
    justify-items: center;
    align-items: center;
    padding-top: 1.5em;
    padding-left: 1.2em;
    margin-left: 6em;
}

.rankings-dot{
    width: .35em;
    height: .35em;
    border-radius: .175em;
    background-color: #e6e6e6;
}

.rankings-dot.yellow {
    background-color: #e6c655;
}

.rankings-dot.active {
    background-color: #e6c655;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    padding-top: .2em;
    align-items: center;
    font-size: .5em;
}